<html>
<style type="text/css">
a.form {
  position: absolute;
  left: 530px;
  top: 320px;
}
a.form_{  position: absolute;
  left: 650px;
  top: 320px;
}




</style>

<body background="/static/img/c.jpg" text="#D6D6D6" vlink="#FF0000">
<h1 align="center"> <strong>欢迎使用问答系统</strong></h1>
<h1 align="center"> <em>使用前请先登录</em></h1>

<a href="http://127.0.0.1:8000/login/" class="form"><font color="black" size="100">登录</font></a>
<br/>
<a href="http://127.0.0.1:8000/register/" class="form_"><font color="black" size="100">注册</font></a>
<br/>

</body>
</html>